{% extends "creator_layout.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="../static/signup-login-page.css" />
</head>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: whitesmoke;
  "
>
  <!-- Change Password Form -->
  <div class="card bg-glass">
    <div class="card-body px-4 py-5 px-md-5">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <form action="/creator_change_password" method="post">
        <div class="form-outline mb-4">
          <input
            name="old_password"
            type="password"
            id="form3Example4"
            class="form-control"
          />
          <label class="form-label" for="form3Example4">Old Password</label>
        </div>
        <div class="form-outline mb-4">
          <input
            name="new_password"
            type="password"
            id="form3Example5"
            class="form-control"
          />
          <label class="form-label" for="form3Example5">New Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block user_buttons %} {% endblock %}
