<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/main_layout.css" />
    <title>Cloud Beats</title>
  </head>

  <body>
    <header>
      <body
        class="vh-100 overflow-hidden"
        style="
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          margin: 0;
        "
      >
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
          <div class="container">
            <!-- Logo -->
            <a class="navbar-brand fs-4" href="/user_dashboard">Cloud Beats</a>
            <!-- Toggle Btn -->
            <button
              class="navbar-toggler shadow-none border-0"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Sidebar -->

            <div
              class="sidebar offcanvas offcanvas-start"
              tabindex="-1"
              id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel"
            >
              <!-- Sidebar Header -->

              <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                  Cloud Beats
                </h5>
                <button
                  type="button"
                  class="btn-close btn-close-white shadow-none"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>

              <!-- Sidebar Body -->

              <div
                class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0"
              >
                <ul
                  class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3"
                >
                  <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#subscription">Subscription</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#contact">Audio Blog</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- User Buttons -->
            <div class="navbar-nav">{% block user_buttons %}{% endblock %}</div>
          </div>
        </nav>
      </body>
    </header>
    {% block content %} {% endblock %}
    <footer style="margin-top: auto; text-align: center; color: white">
      &copy; Dibyanshu
    </footer>
  </body>
</html>
